@import "custom-mixins.scss";

$menu-line-color: darken(#fff, 15%);

body {
	z-index: -3;
}

.off-canvas-wrap, .inner-wrap {
	z-index: -2;
}

h1, h2, h3, h4, h5, h6{
	a{
		color: #222;
	}
}

#hero{
	background: #FFF;
}

#content{
	background: #FFF;
}

#footer{
	background: #222;
	color: #ccc;
	font-size: 70%;
	
	a {
		color: #ccc;
		font-size: 70%;
	}
	
	a:hover {
		color: darken(#ccc, 25%);
	}
	
	h1,h2,h3,h4,h5,h6{
		color: #ddd;
	}
	
	p{
		font-size: 85%;
	}
	
	.columns{
		padding-top: $column-gutter;
		padding-left: $column-gutter * 2;
		padding-right: $column-gutter * 2;
	}
	
	.footer-logo{
		padding-left: 12%;
		padding-right: 12%;
		margin-bottom: $column-gutter;
		margin-top: $column-gutter;
	}
}

.frontpage-poll{
	margin-top: $column-gutter;
}

.twitter-button {
	max-width: 80px;
	max-height: 160px;
	font-size: 200%;
	background-color: #55ACEE;
	border: 1px solid darken(#55ACEE, 10%);
	color: #fff;
	text-align: center;
	padding: 1.4rem;
}

.facebook-button {
	margin-top: $column-gutter;
	max-width: 80px;
	max-height: 160px;
	font-size: 200%;
	background-color: #3B5999;
	border: 1px solid darken(#3B5999, 10%);
	color: #fff;
	text-align: center;
	padding: 1.4rem;
}

.sidebar-panel {
	@include panel(
	$bg:#222,
	$padding:$panel-padding,
	$adjust:true
	);
	
	a{
		color: #eee;
	}
	
	a:hover{
		color: darken(#eee, 25%);
	}
}

.poll-submit{
	@include button($padding:$button-tny, $bg:#222);
}

.latest-news-list {
	li {
		border-bottom: 1px solid #444;
		padding-top: $column-gutter / 2;
		padding-bottom: $column-gutter / 2;
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		font-size: rem-calc(15);
		line-height: 1.4;
	}
	
	.timestamp {
		display: block;
		color:#aaa;
		font-size: 70%;
		font-weight: 600;
		font-family: $body-font-family;
	}
	
	.th{
		margin-left: $column-gutter;
		@include thumb(
			// Width of border around thumbnail
			$border-width: 2px,
			// Box shadow to apply to thumbnail
			$box-shadow: 0 0 0 1px #444,
			// Box shadow to apply on hover
			$box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
		);
	}
}

.fullscreen-parralax-ad {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $pcgreen;
	z-index: -1;
	
	h1{
		font-size: 180px;
		margin-left: 15%;
		margin-right: 15%;
		line-height: 1;
	}
	
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.parralax-window{
	height: 450px;
	border-top: $column-gutter solid #fff;
	border-bottom: $column-gutter solid #fff;
	pointer-events: none;
}

.subheader {
	color: #6f6f6f;
	font-weight: 500;
	
	a{
		color: #6f6f6f;
	}
}

#drop-weather {
	.subheader {
		margin-bottom: 0;
	}
}

.black {
	background-color: #222;
	font-weight: 700;
	margin-right: rem-calc(10);
}

.image-panel {
	padding: 0;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	
	h1, h2, h3, h4, h5, h6{
		color: #FFF;
		text-shadow: 1px 1px 2px black;
		line-height: 1.05;
	}
	h5 {
		font-size: 1.225rem;
	}
}

.darken-image {
	padding: 1.25rem;
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	transition: opacity .25s ease-in-out; 
}

.darken-image:hover {
	opacity: 0;
}

.dark-panel {
	background-color: #222;
	
	hr{
		margin-bottom: $column-gutter / 2;
	}
	
	h1, h2, h3, h4, h5, h6{
		color: #EEE;
		text-shadow: 0px 0px 5px black;
		line-height: 1.05;
		margin-top: 0;
		margin-bottom: $column-gutter / 2;
	}
	h5 {
		font-size: 1.225rem;
	}
}

.section-header {
	margin-bottom: -4px;
	margin-top: 0;
	color: #333;
	padding-bottom: $column-gutter;
}

.icon-label {
	color: #fff;
	font-size:rem-calc(20);
	padding: rem-calc(15);
	margin-right: rem-calc(15);
	margin-bottom: none;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	top: -2px;
}

.icon-label.galleries {
	background-color: $pcred;
}

.icon-label.news {
	background-color: $pcblue;
}

.icon-label.sports {
	background-color: $pcteal;
}

.icon-label.food {
	background-color: $pcgreen;
}

.icon-label.opinion {
	background-color: $pcmaroon;
}

.front-page-story-row {

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2;
	}

	.panel {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.label {
		background-color: #333;
		font-size: rem-calc(16);
		font-weight: 700;
		margin-bottom: 5px;
	}

	.secondary {
		background-color: #ddd;
		font-size: rem-calc(12);
		padding: 0.5rem 0.75rem;
	}
	
	.timestamp {
		color: #666;
		font-size: 85%;
		font-weight: 700;
		margin-bottom: 0.5rem;
		line-height: 1.2;
		
		span{
			margin-right: rem-calc(6);
		}
	}
}

.galleries-section-body{
	li {
		padding-bottom: $column-gutter;
	}
	h6 {
		margin-bottom: 0;
	}
}

.headline-list {
	list-style: none;
	margin-left: 0;
	margin-bottom: $column-gutter / 2;
	
	li{
		margin-bottom: $column-gutter / 2;
		padding: 0 0 ($column-gutter / 2) 0;
		border-bottom: 1px solid $light-border-color;
		
		a{
			color: #222;
			font-family: $header-font-family;
			font-weight: $header-font-weight;
			padding: ($column-gutter / 2) $column-gutter ($column-gutter / 2) $column-gutter;
			display: block;
			line-height: 1.4;
			font-size: rem-calc(15);
		}
	}
	
	li:last-child{
		border-bottom: none;
	}
	
	.has-thumbnail{
		.thumb-wrapper{
			background-repeat: no-repeat;
			background-position-x: 0;
			background-position-y: 0;
			background-size: auto 100%;
			@include box-shadow($inset:inset, $offx:0px, $offy:0px, $blur:0px, $spread:1px, $color:$light-border-color);
		}
		
		a{
			background-color: #fff;
			margin-left: 25%;
		}
	}
	.news.has-thumbnail {
		a{
			border-left: 4px solid $pcblue;
		}
	}
	.sports.has-thumbnail {
		a{
			border-left: 4px solid $pcteal;
		}
	}
	.food.has-thumbnail {
		a{
			border-left: 4px solid $pcgreen;
		}
	}
	.opinion {
		border-right: 4px solid $pcmaroon;
	}
}

.editorial-list{
	margin-bottom: 0;
	
	li {
		border-bottom: 1px solid #dddddd;
		a{
			color: $header-font-color;
			
			.editorial-headline {
				margin-top: $column-gutter / 2;
				margin-bottom: $column-gutter / 2;
			}
		}
	}
}

.columnist-list{
	.subheader{
		font-family: $paragraph-font-family;
		font-weight: 700;
		font-size: 80%;
		margin-bottom: 0;
		margin-top: $column-gutter / 2;
	}
	
	li {
		border-bottom: 1px solid #dddddd;
		a{
			color: $header-font-color;
			h3 {
				font-weight: $header-font-weight;
			}
		}
	}
	
	li:last-child{
		border-bottom: none;
	}
}

.letters-list {
	li{
		margin-bottom: 0;
		
		a{
			h6{
				margin-bottom: 0;
			}
		}
	}
}

#main-menu-bar {
	height: 55px;
	max-width: $row-width;
	margin: 0 auto;
	margin-bottom: 0;
	padding-left: $column-gutter;
	padding-right: $column-gutter;
	
	ul {
		margin-bottom: 0;
		margin-left: 0;
		list-style: none;
		width: auto;
		height: auto !important;
		display: inline;
		
		li {
			float: left;
			
			a {
				padding: 0 16.6px;
				line-height: 55px;
				display: block;
				width: 100%;
				color: $topbar-link-color;
				font-size: 1rem;
			}
			
			a.pc-logo-img-link {
				padding: 0 5px;
			}
		}
	}
	
	ul.right {
		margin-left: 0;
	}
	section {
		width: auto;
		position: relative;
	}
}

.pc-logo-img{
	max-width: 300px;
	height: auto;
	
	@media (max-width: #{upper-bound($small-range)}) {
	max-width: 200px;
	}
}

.main-menu-bar-button {
	width: auto;
	height: auto;
	display: inline;
	margin-left: 0;
			
	a {
		display: block;
		width: 100%;
		color: #666;
		padding: 12px 0 12px 0;
		padding-left: 15px;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-size: 1rem;
		font-weight: normal;
		padding: 0 15px;
		line-height: 55px;
		border-left: 1px solid darken(#fff, 15%);
		border-right: 1px solid darken(#fff, 15%);
	}
	
	a:hover {
		background: #272727;
		color: #fff;
	}
}

#upper-bar {
	border-top: 1px solid darken(#fff, 15%);
	border-bottom: 1px solid darken(#fff, 15%);
	
	input[type="text"] {
		border: none;
		box-shadow: none;
		height:25px;
		padding: 0;
		margin: 13px 0 0 10px;
	}
	
	input[type="text"]:focus {
		background: #fff;
	}
}

#menu-search-box {
	background: #FFF;
	border-left: 1px solid darken(#fff, 15%);
	padding: 0 10px;
}

#menu-search-icon {
	line-height: 55px;
	color: $topbar-link-color;
}

@media (max-width: #{upper-bound($medium-range)}) {
	#temp-icon {
		display: none;
	}
	#menu-weather-temp {
		display: none;
	}
	#menu-weather-conditions {
		display: none;
	}
}



$trending-tag-color: #d35400;

#trending-row {
	background: darken(#fff, 80%);
	max-height: 31px;
	overflow-x: scroll;
	min-width: 920px;
	
	.sub-nav {
		margin: 3px 0px 0px 0px;
		padding-top:0;
		
		dt {
			margin-left: 0;
			margin-bottom: 4px;
			margin-top: 2px;
		}
		
		dd {
			margin-bottom: 6px;
		}
		
		dd.active a {
			font-size: 12px;
		}
		dd.active:nth-child(2) a {
			background: $trending-tag-color;
		}
		dd.active:nth-child(3) a {
			background: transparentize($trending-tag-color, (1/10));
		}
		dd.active:nth-child(4) a {
			background: transparentize($trending-tag-color, (2/10));
		}
		dd.active:nth-child(5) a {
			background: transparentize($trending-tag-color, (3/10));
		}
		dd.active:nth-child(6) a {
			background: transparentize($trending-tag-color, (4/10));
		}
		dd.active:nth-child(7) a {
			background: transparentize($trending-tag-color, (5/10));
		}
		dd.active:nth-child(8) a {
			background: transparentize($trending-tag-color, (6/10));
		}
	}
}

#lower-bar {
	border-bottom: 1px solid darken(#fff, 15%);
	background: darken(#fff, 8%);

	nav {
		background: darken(#fff, 8%);
		padding-left: $column-gutter;
		padding-right: $column-gutter;
	}
	.top-bar {
		line-height: 35px;
		
		li a:not(.button) {
			background: darken(#fff, 8%);
		}
		li a:not(.button):hover {
			background: $topbar-link-bg-hover;
		}
	}
}

#menu-weather-conditions {
	padding-left: 5px;
	padding-right: 10px;
}

#menu-weather-temp {
	padding-left: 5px;
}

#leaderboard-row {
	background: #222;
	
	.columns {
		padding: 2px 0px;
	}
}

.ad-placeholder {
	background-color: $secondary-color;
}

.leaderboard-placeholder {
	width:728px;
	height:90px;
	background: #999;
	padding:3px;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

.collapsed-pushdown-placeholder {
	width: 990px;
	height: 30px;
	background: #999;
	font-size: 10px;
	padding: 3px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.menu-dropdown {	
	@include dropdown-container(
	  $content:content,
	  $triangle:false,
	  $max-width: 100%
	);
	
	li { @include dropdown-style; }
}

.menu-dropdown.open {
	left: 0 !important;
}

.menu-dropdown {

	h6 {
      font-family: $paragraph-font-family;
     }
	
	ul {
		display: block;
		background: none;
		
		li {
			float: none;
			background: none;
			
			a {
				display: block;
				padding: 0.1rem;
				color: #555555;
			}
			a:not(.button) {
				background: none;
			}
		}
	}
}

#news-dropdown, .news-border {
	border-top:4px solid $pcblue;
}

#sports-dropdown, .sports-border {
	border-top:4px solid $pcteal;
}

#food-dropdown, .food-border {
	border-top:4px solid $pcgreen;
}

#entertainment-dropdown, .entertainment-border {
	border-top:4px solid $pcpurple;
}

#features-dropdown, .features-border {
	border-top:4px solid $pcorange;
}

#opinion-dropdown, .opinion-border {
	border-top:4px solid $pcmaroon;
}

#obits-dropdown, .obits-border {
	border-top:4px solid $pcmaroon;
}

.news-border-b {
	border-bottom:4px solid $pcblue;
}

.sports-border-b {
	border-bottom:4px solid $pcteal;
}

.food-border-b {
	border-bottom:4px solid $pcgreen;
}

.entertainment-border-r {
	border-right:4px solid $pcyellow;
}

.features-border-r {
	border-right:4px solid $pcorange;
}

.opinion-border-r {
	border-right:4px solid $pcmaroon;
}

.opinion-border-b {
	border-bottom:4px solid $pcmaroon;
}

.obits-border-r {
	border-right:4px solid $pcmaroon;
}

.special-border-r {
	border-right:4px solid $pcpurple;
}

.jumbotron {
	margin-top: $column-gutter;
	
	.columns {
	}
	.panel {
		margin-bottom: 0;
	}
	.no-pad-r {
		@media (min-width: #{upper-bound($small-range)}) {
		padding-right: 0;
		}
	}
	.no-pad-l {
		@media (min-width: #{upper-bound($small-range)}) {
		padding-left: 0;
		}
	}
}

.main-content-row {
	padding-top: $column-gutter;
	
	hr {
		margin-top: 0;
	}
}

.alert-subheader {
	font-weight: 400;
	margin-left: ($column-gutter / 2);
}


.alert-box.alert {
		color: #222;
	}
	
